.navbar {
    height: 90px;
    margin: 30px 0;
}
.minimo {
    width: 40%;
    p {
        font-family: 'Inconsolata';
        font-size: 30px;
        text-transform: uppercase;
        color: #000000;
    }
}
.navbar-nav {
    width: 60%;
}
.nav-item {
    font-family: 'Playfair Display';
    font-size: 14px;
    text-transform: uppercase;
    color: #626262;
}